<div class="ready">
	<div class="game-header">Game #{{gameNumber}}</div>
</div>
<div class="underway">
	<span>Winner:</span>
	{{#each teams}}
		<button class="btn btn-small btn-primary btn-block team-btn">{{this.name}}</button>
	{{/each}}
</div>
<div class="finished">
	{{#each teams}}
		<button class="btn btn-small btn-block" disabled>{{this.name}}</button>
	{{/each}}
</div>