<div class="navbar-inner">
<div class="brand">
</div>
<ul class="nav">
	<li>
		<a class="header-link" href="/brackets/v6/admin"><i class="icon-file"></i> New Bracket</a>
	</li>
	<li>
		<a class="header-link" href="/brackets/v6/admin/load"><i class="icon-folder-open"></i> Load Bracket</a>
	</li>
	<li>
		<a class="publish-link" href="#"><i class="icon-list-alt"></i> Publish</a>
	</li>
</ul>
</div>