<div class="navbar-inner">
<div class="brand">
</div>
<ul class="nav">
	<li>
		<a class="header-link" href="test/">Load Bracket</a>
	</li>
	<li>
		<a class="header-link" href="http://brunch.readthedocs.org/">Publish</a>
	</li>
</ul>
</div>