<form>
	<fieldset>
	<legend>Edit Match</legend>
	<label>Start time</label>
	<button class="btn">00/00/00</button>
	<label>Teams</label>
	<select id="team1" class="team-list" slot="0" >
	</select>

	<select id="team2" class="team-list" slot="1" >
	</select>

	<label>Best of</label>
	<input type="text" class="span1 best-of-input" value={{bestOf}}>
	<button class="btn btn-success">Start Game</button>
	<hr>
	<a href="#">Click here to edit in IPL-Koala</a>
	</fieldset>
</form>