<form>
	<fieldset>
	<legend>Publish Bracket</legend>
	<label>Direct Link</label>
	<input type="text" value="{{directLink}}">
	<label>IFrame embed code</label>
	<input type="text" value='<iframe src="{{directLink}}"></iframe>'>
	</fieldset>
</form>