<form>
	<legend>Generate matches</legend>
	<fieldset>
		<label>Number of players</label>
		<input type="text" value="4" id="num-players">
		<label class="radio">
  			<input type="radio" name="optionsRadios" id="optionsElimination1" value="single" checked>
  		Single elimination
		</label>
		<label class="radio">
		  <input type="radio" name="optionsRadios" id="optionsElimination2" value="double">
		  Double elimination
		</label>

			<button type="submit" class="btn btn-primary">Generate</button>

	</fieldset>
</form>