@import 'nib'

.match
	user-select:none

.match.activeSelect
	background: #db3a22

span.bracket-title h1
	font-weight: 200
	margin: 0

input.bracket-title-input
	display: none
	position: absolute
	width: 12em
	height: 1.6em
	font-weight: 200
	font-size: 38.5px
	margin: -10px -7px

span.bracket-title.editing h1
	display:none

span.bracket-title.editing input.bracket-title-input
	display:block