@import 'nib'

#games-area
	ul
		list-style: none
		padding:2px
		margin:0
	div.ready
		background: #777
		padding: 2px
		margin 1px 0
		color:#fff
	div.active
		margin-bottom: 12px

	li.active
		div.finished
			display:none
		div.active
			display:block
	li.finished
		div.active
			display:none
		div.finished
			display:block
	li.ready
		div.active
			display:none
		div.finished
			display:none

