@import 'nib'

div.group
	width: 180px
	background-color: #111
	display:block
	border-radius: 3px
	position:absolute
	padding:12px 0

	h3
		margin: 0
		margin-top:-38px
		float: left
		line-height:1em
		font-size: 1.2em

	ul 
		list-style:none
		padding:0
		margin:0

	.group-team-list
		color: #fff
		margin-bottom:24px
		li
			padding: 5px 0
			padding-left: 10px

	.group-team-list li:hover
		background-color: #222

	.match-list
		position: absolute
		bottom: 2px
		li
			float: left
			margin: 2px

