@import 'nib'

div.match-connector
	position: absolute
	width: 20px
	height: 20px

	div.top-bracket
		border: 2px solid #888
		border-bottom: none
		border-left: none
		width:50%
		height:50%
		float:left
	div.bottom-bracket
		border: 2px solid #888
		border-top: none
		border-left: none
		width:50%
		height:50%
		float:left
	div.top-line
		border-bottom: 1px solid #888
		width:50%
		height:50%
		float:left
		clear:right
	div.bottom-line
		border-top: 1px solid #888
		width:50%
		height:50%
		float:left
		clear:right
	div.bottom-line.full-width
		width:100%
		clear:both
	div.top-line.full-width
		width:100%
		clear:both