@import 'nib'

div.match
	position:absolute
	background-color: #111
	border-radius: 6px
	width:170px
	height 48px
	padding: 1px 1px 1px 1px
	display:table
	box-shadow: 2px 2px 10px rgba(0, 0, 19 , .20)
	.team-label
		background-color: #eee
		color:#333
		width:100%
		padding-left: 6px
		float:left
		height:22px
		display:block
		clear:left
		text-overflow: ellipsis
		white-space: nowrap
		cursor: default
	.team-score
		clear: right
		width: 100%
		height: 22px
		float:left
		color: #fff
		font-weight:bold
		text-align:center
		cursor: default
	.team-container
		float:left
		width:134px
		overflow:hidden
	.score-container
		float:left
		height:100%
		width:34px
	.team-score:first-child
		padding-top:2px
	.team-label:first-child
		border-radius: 5px 5px 0 0
		padding-top:2px
		background-image:linear-gradient(top, #fff, #e6e6e6)
	.team-label:nth-child(2)
		border-radius: 0 0 5px 5px
		background-image:linear-gradient(top, #e6e6e6, #fff)
	.time-rider
		position:absolute
		margin-top: 44px
		opacity: .45
