@import 'nib'

#team-menu
	overflow:auto
	.btn 
		float:right
	li.team-field
		span.team-label
			width:100%
			display: inline-block
			margin: 2px 0
			text-overflow:ellipsis
		span.team-edit-label
			width:100%
			display:none
		input 
			width:80%
	li.team-field.edit
		span.team-label
			display:none
		span.team-edit-label
			display:inline-block
	li:nth-child(odd)
		background-color: rgba(0,0,0,0.025)