<h3>{{title}}</h3>
<ul class="group-team-list">
	{{#each teams}}
		<li>{{this}}</li>
	{{/each}}
</ul>
<ul class="match-list">
	{{#each matches}}
		<li><button class="btn btn-mini match">{{this}}</button></li>
	{{/each}}
</ul>